<h1>Recomendaciones para evitar un contagio de Sars-CoV2</h1>
<div id="container">
  <div id="consejo1" class="carta">
    <img src="https://cdn-icons-png.flaticon.com/512/5985/5985970.png" alt="Consejos">
    <span>Usa mascarilla en lugares cerrados o con poca ventilación.</span>
  </div>
  <div id="consejo2" class="carta">
    <img src="https://icon-library.com/images/wash-hands-icon/wash-hands-icon-14.jpg" alt="Consejos">
    <span>Lave sus manos con frecuencia y tambien de manera correcta.</span>
  </div>
</div>
<footer>
  <a routerLink="/main"><button mat-raised-button color="primary" id="boton">Volver</button></a>
</footer>

