<h1 class="titulo"> Pagina Principal </h1>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="titulocard">Ver Estadisticas Por País</mat-card-title>
  </mat-card-header>
  <img mat-card-image  src="https://pixsector.com/cache/89b8417a/av30af0a6ffb584d0e709.png" alt="Datos por país">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
        <a routerLink="/estadisticas"><button mat-raised-button color="primary" id="boton">Ir</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="titulocard">Ver Estadisticas Globales</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_490843.png&f=1&nofb=1&ipt=cdec4174e058dc7ae1dc18a5a7192797e20f610ca02d60c5e91060601857278b&ipo=images" alt="Datos por país">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/infogeneral"><button mat-raised-button color="primary" id="boton">Ir</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="titulocard">Consejos para evitar contagios</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/3771/3771294.png" alt="Consejos">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/consejos"><button mat-raised-button color="primary" id="boton">Ir</button></a>
  </mat-card-actions>
</mat-card>


